<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-director
        *ngIf="authService.isAdmin()"
         (directorUpdated)="directorUpdated($event)" [director]="updatedDir" [ajout]="ajout">
        </app-update-director>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nom Directeur</th>
                        <th>Prenom Directeur</th>
                    </tr>
                </thead>
                <tbody *ngFor="let cat of director">
                    <tr>
                        <td>{{cat.idDir}}</td>
                        <td>{{cat.nomDir}}</td>
                        <td>{{cat.prenomDir}}</td>
                        <td><a *ngIf="authService.isAdmin()"class="btn btn-success" (click)="updateDir(cat)">Editer</a></td>
                        <td><a *ngIf="authService.isAdmin()"class="btn btn-danger" (click)="supprimerDirector(cat)">Supprimer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>